body{
    font-family: 'Bree Serif', serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.hc{
    color: orange;
}
#s{
    font-size: 30px;
}
.flex-content
{
    display: flex;
    margin-bottom: 100px;
}
.hw{
    width: 50%;
    padding-left: 5%;
}
.hw img{
    width: 80%;
}
.lb{
    text-decoration: none;
    background-color: orange;
    color: white;
    border-radius: 10px;
    padding: 10px 40px;
    font-weight: 900;
    background-image: linear-gradient(orange , red);
    font-size: larger;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.fb{
    background-color: tomato;
    text-decoration: none; 
    color: rgb(253, 249, 249);
    padding: 10px 40px;
    background-image: linear-gradient(blue,rgb(94, 11, 94) , navy);
    border-radius: 10px;
    font-weight: bold;

}
.img{
    width: 50%;
    padding-right: 12%;
}
p{
    text-align: justify;
}
.ayshi{
    color: navy;
}
.img img{
    width: 80%;
}
.banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orgclr{
    color: orange;
}
.shadow{
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-right: 25px;
}
.aln{
   text-align: left;
}
.exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#bdf{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#bdr{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 0, 0),yellow);
    border-image-slice: 1;
}
footer p {
    text-align: center;
    color: gray;
}